@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.modal__backdrop {
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modal__title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.modal__container {
  background: rgb(77, 77, 77);
  border-radius: 5px;
  height: 70vh;
  margin: 50px auto;
  padding: 15px;
  width: 70vh;
}

#resume_iframe {
  position: relative;
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}

.modal__object {
  position: absolute;
  background-color: transparent;
  width: 100%;
  padding-bottom: 1rem;
  z-index: 3;
}

.modal__cta {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.modal__exit {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

.modal__btn {
  font-size: 0.8rem;
  width: max-content;
  display: inline-block;
  background: var(--color-primary);
  color: var(--color-bg);
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

/* ==================== MEDIA QUERIES (MEDIUM DEVICES) ==================== */
@media screen and (max-width: 1024px) {
  .modal__container {
    width: var(--container-width-md);
  }
}

/* ==================== MEDIA QUERIES (SMALL DEVICES) ==================== */
@media screen and (max-width: 600px) {
  .modal__container {
    width: var(--container-width-sm);
  }

  .modal__btn {
    font-size: 0.7rem;
  }
  .modal__exit {
    font-size: 0.7rem;
  }
}
